
---
import Navbar from '../components/Navbar.astro';
import Services from '../components/Services.astro';
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Navbar/>
    <Home/>
    <div class="lg:mx-auto md:mx-auto sm:mx-auto xs:mx-auto py-2.5 lg:4 lg:pr-4 md:pl-3 md:pr-3 sm:pl-5 sm:pr-5">
        <Services/>
    </div>
   
</Layout>