---


---



<nav class="bg-white border-gray-200 dark:bg-gray-900 ">
 
 
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
    
      <a href="" class="flex items-center text-xl text-indigo-600 ">
        <?xml version="1.0" ?><svg data-name="Layer 1" fill="#4f46e5" id="Layer_1" viewBox="0 0 512 512"
         xmlns="http://www.w3.org/2000/svg">
         <path d="M428.65,103.09h0a109.56,109.56,0,0,0-154.71,0L256,121l-18-18A109.4,109.4,0,0,0,83.35,257.73l20.87,20.87a4.85,4.85,0,0,0,.55.65l17,17-2.47,2.48A27.34,27.34,0,0,0,143.61,345a27.32,27.32,0,0,0,31.85,31.84,27.34,27.34,0,0,0,31.83,31.86,27.26,27.26,0,0,0,7.56,24.3h0a27.37,27.37,0,0,0,38.67,0l41.59-41.56c.41-.41.81-.85,1.19-1.29L428.65,257.8A109.55,109.55,0,0,0,428.65,103.09ZM112.36,272.86a5,5,0,0,0-.54-.66L90.35,250.73A99.5,99.5,0,0,1,231.07,110l18,18L184.51,192.5a5,5,0,0,0-1.44,3.5,4.88,4.88,0,0,0,1.46,3.5,62.09,62.09,0,0,0,87.66,0l20.75-20.76L393.32,279.12,303,369.47a27.28,27.28,0,0,0-32.18-24.29A27.3,27.3,0,0,0,239,313.33a27.32,27.32,0,0,0-31.85-31.85,27.35,27.35,0,0,0-46.23-24.3l-32.11,32.09Zm13.94,57.58a17.48,17.48,0,0,1,0-24.7l41.58-41.56a17.46,17.46,0,1,1,24.7,24.69L151,330.44A17.46,17.46,0,0,1,126.3,330.44Zm31.85,31.84a17.5,17.5,0,0,1,0-24.7L199.71,296a17.47,17.47,0,0,1,24.7,24.7l-41.54,41.56A17.48,17.48,0,0,1,158.15,362.28ZM190,394.14a17.47,17.47,0,0,1,0-24.7l41.57-41.57a17.47,17.47,0,1,1,24.69,24.71L214.7,394.14A17.47,17.47,0,0,1,190,394.14ZM221.85,426h0a17.44,17.44,0,0,1,0-24.7l41.56-41.56a17.47,17.47,0,0,1,24.72,24.7L246.54,426A17.45,17.45,0,0,1,221.85,426Zm199.8-175.19-21.33,21.33L296.44,168.25a5,5,0,0,0-7,0L265.2,192.5a52.2,52.2,0,0,1-70,3.34l64.37-64.36,21.39-21.39a99.5,99.5,0,0,1,140.72,140.7Z"/></svg>
        MEDICARE CENTER
        <!-- <img src="../../public/images/logomedicare2.png" class="h-8 " alt="Medicare Logo" /> -->
        
    </a>
    
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg
       bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0
        md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 px-3 text-white bg-indigo-700 rounded md:bg-transparent md:text-indigo-700 md:p-0
           dark:text-white md:dark:text-indigo-500" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent
           md:border-0 md:hover:text-indigo-700 md:p-0 dark:text-white md:dark:hover:text-indigo-500
            dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Mission</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 
          md:hover:bg-transparent md:border-0 md:hover:text-indigo-700 md:p-0 dark:text-white
           md:dark:hover:text-indigo-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Products</a>
        </li>
       
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0
           md:hover:text-indigo-700 md:p-0 dark:text-white md:dark:hover:text-indigo-500 dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

