<div
  class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1 sm:justify-center sm:mx-auto gap-4 pl-4 pr-4"
>
  <div
    class="max-w-sm sm:justify-center sm:mx-auto p-6 bg-gradient-to-r from-violet-200 to-pink-200 
      rounded-lg shadow-sm shadow-indigo-500 dark:bg-gray-800 dark:border-gray-700"
  >
   
    <div class="flex flex-inline gap-4">
     
        <img src="../../public/images/pills.png" class="w-8 h-8 " />
      
       
        <div class="h-22">
      <h5
        class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-white"
      > 
        Product Information </h5>
        <h6 class="mb-2 text-md font-semibold tracking-tight text-gray-900 dark:text-white">
        Description of Medications Composition:
        Psilocybin-bas
        </h6></div></div>
    <div class="block p-1 mb-2 ">
      <div class="h-40">
        <img  src="../../public/images/drugbottles.png" class="h-40 w-full object-cover border-indigo-500 mb-3 border-2 rounded-lg"></div>
        <p class="mb-3 text-md text-gray-500 dark:text-gray-400 mt-2">
            Composition: Psilocybin-based medications are typically derived from naturally 
            occurring psychedelic compounds found in certain fungi species. 
            <a
              href="#"
              class="inline-flex font-medium items-center text-indigo-600 hover:underline"
            >
              See our guideline
              <svg
                class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
                ></path>
              </svg>
            </a>
            <!-- Pharmaceutical formulations use purified psilocybin.
            Dosage: Dosage varies based on clinical protocols,    typically ranging from 10 mg to 25 mg per session under supervision.
          Available Formats: Psilocybin is often provided in the form of capsules, tablets, or oral solutions to ensure standardized dosing and ease of administration.
       -->
          </p>
    </div>
   
  </div>

  <div
    class="max-w-sm sm:justify-center sm:mx-auto p-6 bg-gradient-to-r from-violet-200 to-pink-200 
      rounded-lg shadow-sm shadow-indigo-500 dark:bg-gray-800 dark:border-gray-700"
  >
   
    <div class="flex flex-inline gap-4">
     
        <img src="../../public/images/terapeutic.png" class="w-8 h-8 " />
      
       
        <div class="h-22">
      <h5
        class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-white"
      > 
       Therapeutic Uses
    </h5>
        <h6 class="mb-2 text-md font-semibold tracking-tight text-gray-900 dark:text-white">
          Psilocybin  used for the treatment of various mental health conditions
        </h6></div></div>

       

    <div class="block p-1 mb-2">
      <div class="h-40">
        <img src="../../public/images/psilocybin.jpg" class="h-40 w-full object-cover  border-indigo-500 mb-3 border-2 rounded-lg" >  </div></div>
        <p class="mb-3 text-md text-gray-500 dark:text-gray-400">
          

          Treatment-Resistant Depression (TRD):
          Demonstrated potential to alleviate symptoms in individuals unresponsive to traditional antidepressants.
          Anxiety: Particularly effective in reducing existential distress<!--   and anxiety in patients with life-threatening illnesses, such as cancer.
          Post-Traumatic Stress Disorder (PTSD): Emerging evidence suggests psilocybin-assisted therapy may help individuals process trauma and reduce PTSD symptoms.
          Obsessive-Compulsive Disorder (OCD): Early trials show promising results in decreasing obsessive thoughts and compul -->sive behaviors.
            <a
              href="#"
              class="inline-flex font-medium items-center text-indigo-600 hover:underline"
            >
              See our guideline
              <svg
                class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
                ></path>
              </svg>
            </a>
            <!--   are typically derived from naturally occurring psychedelic compounds found in certain fungi species. Pharmaceutical formulations use purified psilocybin.
          Dosage: Dosage varies based on clinical protocols, typically ranging from 10 mg to 25 mg per session under supervision.
          Available Formats: Psilocybin is often provided in the form of capsules, tablets, or oral solutions to ensure standardized dosing and ease of administration.
       -->
          </p>
    </div>
    <div
    class="max-w-sm sm:justify-center sm:mx-auto p-6 bg-gradient-to-r from-violet-200 to-pink-200 
      rounded-lg shadow-sm shadow-indigo-500 dark:bg-gray-800 dark:border-gray-700"
  >
   
    <div class="flex flex-inline gap-4">
     
        <img src="../../public/images/study.png" class="w-8 h-8 " />
      
       
        <div class="h-22">
      <h5
        class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-white"
      > 
      Clinical Studies

      
    </h5>
        <h6 class="mb-2 text-md font-semibold tracking-tight text-gray-900 dark:text-white h-12">
          Efficacy and Safety 
        </h6></div></div>

       

    <div class="block p-1 mb-2">
      <div class="h-40">
        <img src="../../public/images/health.webp" class="h-40 w-full object-cover opacity-80 border-indigo-500 mb-3 border-2 rounded-lg" >  </div></div>
        <p class="mb-3 text-md text-gray-500 dark:text-gray-400">
          
          Compass Pathways: Phase 2b trials have shown significant reductions in depression scores  in patients with TRD 
          following psilocybin therapy. <!--
          Johns Hopkins University: Studies highlight sustained improvements in mood and anxiety after guided psilocybin sessions. -->
     
          Psilocybin is generally well-tolerated under medical supervision. <!-- Common side effects include transient increases in heart rate, blood pressure, and emotional sensitivity during sessions.
          Integration therapy following sessions helps mitigate any psychological discomfort.
      Mechanism of Action: Psilocybin interacts with serotonin receptors (5-HT2A), inducing neuroplasticity and facilitating therapeutic breakthroughs.

   -->        
            <a
              href="#"
              class="inline-flex font-medium items-center text-indigo-600 hover:underline"
            >
              See our guideline
              <svg
                class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
                ></path>
              </svg>
            </a>
            <!--   are typically derived from naturally occurring psychedelic compounds found in certain fungi species. Pharmaceutical formulations use purified psilocybin.
          Dosage: Dosage varies based on clinical protocols, typically ranging from 10 mg to 25 mg per session under supervision.
          Available Formats: Psilocybin is often provided in the form of capsules, tablets, or oral solutions to ensure standardized dosing and ease of administration.
       -->
          </p>
    </div>

    <div
    class="max-w-sm sm:justify-center sm:mx-auto p-6 bg-gradient-to-r from-violet-200 to-pink-200 
      rounded-lg shadow-sm shadow-indigo-500 dark:bg-gray-800 dark:border-gray-700"
  >
   
    <div class="flex flex-inline gap-4">
     
        <img src="../../public/images/information.png" class="w-8 h-8 " />
      
       
        <div class="h-22">
      <h5
        class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-white"
      > 
      Information for Healthcare Professionals
      
      
     
      

      
    </h5>
        <h6 class="mb-2 text-sm font-semibold tracking-tight text-gray-900 dark:text-white ">
          Resources for Physicians and Therapists
        </h6></div></div>

       

    <div class="block p-1 mb-2">
      <div class="h-40">
        <img src="../../public/images/psilocybin.avif" class="h-40 w-full object-cover opacity-80 border-indigo-500 mb-3 border-2 rounded-lg" >  </div></div>
        <p class="mb-3 text-md text-gray-500 dark:text-gray-400">
          
          Healthcare providers interested in incorporating psilocybin into their practices can access:
      
          Guidelines and Protocols:
              Clinical best practices for psilocybin-assisted therapy, <!-- including patient selection, dosing protocols,,and session management.
              Ethical considerations  informed consent processes, and post-session integration strategies.
          Research Updates:
              Access to peer-reviewed journals, clinical trial data, and ongoing studies exploring psilocybin’s therapeutic potential.
              Organizations like MAPS (Multidisciplinary Association for Psychedelic Studies) and Usona Institute frequently publish findings and resources.
          Professional Networks:
              Collaboration opportunities with other practitioners through conferences, workshops, and online communities.
              Platforms like The Psychedelic Science Conference and Integrative Psychiatry Institute provide forums for knowledge sharing.
       -->
            <a
              href="#"
              class="inline-flex font-medium items-center text-indigo-600 hover:underline"
            >
              See our guideline
              <svg
                class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
                ></path>
              </svg>
            </a>
            <!--   are typically derived from naturally occurring psychedelic compounds found in certain fungi species. Pharmaceutical formulations use purified psilocybin.
          Dosage: Dosage varies based on clinical protocols, typically ranging from 10 mg to 25 mg per session under supervision.
          Available Formats: Psilocybin is often provided in the form of capsules, tablets, or oral solutions to ensure standardized dosing and ease of administration.
       -->
          </p>
    </div>
  </div>
</div>
