---
import Footer from '../components/Footer.astro';

---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <title>PAGINA MEDI CARE</title>

  </head>
  <body>
    <main class="font-family:"Inter",serif">
        <slot/>
        <footer>
          <Footer/>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

  </body>
</html>



